[submodule "packages/kp-admin"]
	path = packages/kp-admin
	url = git@github.com:kearisp/kp-admin.git
[submodule "packages/react-canny"]
	path = packages/react-canny
	url = git@github.com:kearisp/react-canny.git
[submodule "packages/motor-js"]
	path = packages/motor-js
	url = git@github.com:kearisp/motor-js.git
[submodule "packages/fodec"]
	path = packages/fodec
	url = git@github.com:kearisp/fodec.git
